$font-size-dekstop-tablet: 16px;
$font-size-mobile: 14px;

$primary-color: #ffffff;
$secondary-color: #f1f1f2;

$primary-active-color: #3e97ff;
$secondary-active-color: #eef6ff;

$header-color: 000000;
